ul {
    list-style: none;
     text-shadow: 2px 2px 0 rgb(189, 186, 186);
}

h1{
  text-align: center;
  text-shadow: 3px 3px 0 rgb(189, 186, 186);
}

header{
  background-color: rgb(168, 214, 229);
  border: 10px solid rgb(168, 214, 229);
}

body {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(227, 238, 243);
}

.link-other{
  margin-left: 15px;
  color: darkcyan;
}

.link-header{
  color: darkcyan;
}

.link-other:hover{
  margin-left: 15px;
  color: darkblue;
}

.link-header:hover{
  color: darkblue;
}

.social{
  position: fixed;
  bottom: 0;
  right: 0;
}
